@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body{
  overflow-x: hidden;
  margin-bottom: 2rem;
}


#intro{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

#intro .btn-get-started{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #00c1c1;
  background: #00c1c1;
}

#intro .btn-get-started:hover {
  background: #00c1c1;
  color: #fff;
  text-decoration: none;
}

#lessons{
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; */
  z-index: 10000;
}

#lessons a:hover{
  color: white;
  text-decoration: none;
}

#lessonsText{
  /* text-decoration: underline; */
  font-weight: 700;
  color: black;
  text-align: center;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

#lessons ul li{
  margin-bottom: 1.2em;
  color: #fff;
  background-color: #916bb6; 
}

#lessons ul li:hover{
  background-color: #916bb6;
}

#lessons ul li h4{
  font-size: 1.8em;
  font-weight: 700;
}





