#profileContainer{
    margin-top: 8rem;
      /* border-left: 6px solid #56baed;
      border-bottom: 6px solid #56baed; 
      border-top: 6px solid #56baed;
      border-right: 6px solid #56baed; */
  }

#userInfoBG{
    padding: 1rem;
}

#displayUser{
    box-shadow:
    0 1.7px 1.7px rgba(0, 0, 0, 0.042),
    0 3.5px 3.5px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.07);
}

#profileSidebar{
    padding: 0rem 1rem;
}


#profileSidebar .list-group > li {
    margin-bottom: -1px;
    box-shadow:
    0 1.7px 1.7px rgba(0, 0, 0, 0.042),
    0 3.5px 3.5px rgba(0, 0, 0, 0.05),
    0 8px 8px rgba(0, 0, 0, 0.07);
}

#profileSidebar li:hover{
    background-color: rgba(0, 0, 0, 0.042);
}
  
#profileSidebar  li > .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  
#profileSidebar  li > .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  
#profileSidebar  li:last-child > .list-group-item {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
  }
  
#profileSidebar  li:first-child > .list-group-item {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  

#profileSidebar .list-group > li  a{
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

#profileSidebar .list-group > li  a:hover{
    text-decoration: none;
}

#profileSidebar li a{
    padding: 1rem;
    color: #333333;
}